 ::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
} 

.flex-container {
    display: flex;
}


.margin{
    width: 76%;
    padding-top: 20px;
  
}
.right{
    width: 24%;
}

.released-movie-grid-item {
    margin: 15px;
    width: 24%;
}
.apply-btn{
    float: center;  
    width:20% 
    
   }